*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#body{
    background-image: linear-gradient(90deg, black, rgb(16 55 196 / 75%));
}

#h1{
    top: 30%;
    color:  #ffff;
    font-size: 3em;
    display: flex;
    justify-content: center;
}

#h2{
    color:  #ffff;
}

.calculadora{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.471);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;
}

.button{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(31, 31, 31);
    border: none;
    color: #ffff;
    margin: 2px;
    padding: 5px;
}

.button:hover{
    background-color: black;
}

#resultado{
    width: 207px;
    background-color: #ffff;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
}